* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Ubuntu", railway, arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 300;
}

dl,
ol,
ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}
